@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-font {
  @apply text-sm font-normal text-footer-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-form-item-control-input {
  .ant-input {
    height: 42px;
    border-radius: 16px;
    border: 1px solid "#D1D5DB";
    padding: 9px, 13px, 9px, 13px;
    width: 100%;
    &:hover {
      border: 1px solid #d1d5db !important;
    }
    &:focus {
      border-color: 1px solid #e71c3a !important;
      outline: none;
    }
  }

  .ant-btn {
    height: 48px;
    border-radius: 48px;
    padding: 12px, 24px, 12px, 24px;
    background-color: #e71c3a;
    width: 100%;
    &:hover {
      background-color: #e71c3a !important;
    }
  }
}

.ant-form-item .ant-form-item-label > label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

/* .ant-picker-panel.ant-picker-date-panel.ant-picker-body {
  background-color: blue;
} */

.ant-picker-body {
  padding: 10px;
}

.ant-picker-content,
td {
  /* border-bottom: 1px solid #e5e7eb; */
  border-collapse: collapse;
}

.ant-picker-content {
  border: none;
}
tr {
  color: #6b7280;
}

.ant-picker-calendar .ant-picker-cell {
  padding: 12px 10px;
}

.ant-picker-content tr,
th {
  border: none;
  padding: 10px;
}

.ant-steps.ant-steps-dot.ant-steps-small
  .ant-steps-item-icon
  .ant-steps-icon-dot {
  border-style: solid;
  border-color: #e71c3a;
}

.ant-steps.ant-steps-vertical.ant-steps-dot
  .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  margin-inline-start: 5.3px;
}

.ant-steps.ant-steps-vertical
  > .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  height: 104%;
  width: 2px;
  /* border: 2px dashed #000309; */
}

.ant-steps.ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
  min-height: 111px;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 5.54px 22.18px 5.54px 22.18px;
  font-size: 19.41px;
  line-height: 33.27px;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  background-color: #e71c3a;
  color: #ffff;
}

.no-scroll-dropdown .ant-select-dropdown {
  overflow-y: hidden !important;
  max-height: none !important;
}

/* .ant-select-single .ant-select-selector { */
/* font-size: 16px; */
/* line-height: 16; */
/* font-weight: bold; */
/* margin-left: 11px; */
/* } */

.ant-select .ant-select-selection-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 16;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  background-color: inherit;
}

.datePicker {
  visibility: hidden;
  height: 0;
  padding: 0;
  width: 0;
  position: absolute;
}

.ant-rate {
  font-size: 15px;
  width: 100%;
  margin: 27px;
  margin-top: 0px;
}
