@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-font {
  @apply text-sm font-normal text-footer-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-form-item-control-input {
  .ant-input {
    height: 42px;
    border-radius: 16px;
    border: 1px solid "#D1D5DB";
    padding: 9px, 13px, 9px, 13px;
    width: 100%;
    &:hover {
      border: 1px solid #d1d5db !important;
    }
    &:focus {
      border-color: 1px solid #e71c3a !important;
      outline: none;
    }
  }

  .ant-btn {
    height: 48px;
    border-radius: 48px;
    padding: 12px, 24px, 12px, 24px;
    background-color: #e71c3a;
    width: 100%;
    &:hover {
      background-color: #e71c3a !important;
    }
  }
}

.ant-form-item .ant-form-item-label > label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

/* .ant-picker-panel.ant-picker-date-panel.ant-picker-body {
  background-color: blue;
} */

.ant-picker-body {
  padding: 10px;
}

.ant-picker-content,
td {
  /* border-bottom: 1px solid #e5e7eb; */
  border-collapse: collapse;
}

.ant-picker-content {
  border: none;
}
tr {
  color: #6b7280;
}

.ant-picker-calendar .ant-picker-cell {
  padding: 12px 10px;
}

.ant-picker-content tr,
th {
  border: none;
  padding: 10px;
}

.ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
  background-color: beige;
}

.ant-steps.ant-steps-vertical
  > .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  height: 104%;
  width: 2px;
  border: 2px dashed #6b7280;
}

.ant-steps.ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
  min-height: 111px;
}
